<img class = "center" id = "gif" src = ""/>

<div class="card center">
    <div class="card-content">
        <p>Title: </p> <p id = "gifTitle"><%= @article.title %></p>
        <a href="<%= @article.url %>">Url: <%= @article.url %></a>
        <p>Id: <%= @article.id %></p>
        <p>Description: <%= @article.description %></p>
    </div>
</div>