<div class="card center">
    <div class="card-content">
        <h2>Title: <%= @article.title %></h2>
        <a href="<%= @article.url %>">Url: <%= @article.url %></a>
        <h4>Id: <%= @article.id %></h4>
        <h5>Description: <%= @article.description %></h5>
    </div>
</div>